<div *ngIf="user" id="profile" class="row my-2">
  <div class="col-lg-8 order-lg-2">
    <div class="tab-content py-4">
      <div class="tab-pane active">
        <h5 class="mb-3">Username: {{user.username}}</h5>
        <div *ngIf="isAdmin" class="admin-panel clear-fix">
          <button class="btn btn-danger" (click)="blockComments(user.id)">Block Comments</button>
          <button class="btn btn-success" (click)="unblockComments(user.id)">Unblock Comments</button>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h6>Role</h6>
            <p>
              {{user.isAdmin? 'Admin': 'User'}}
            </p>
          </div>
          <div class="col-md-6">
            <h6>Comments</h6>
            <p>
              {{user.commentsCount}}
            </p>
          </div>
          <div class="col-md-12">
            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Latest comments by {{user.username}}</h5>
            <table class="table table-sm table-hover table-striped" *ngIf="comments && comments.length > 0">
              <tbody>
                <tr *ngFor="let c of comments">
                  <td>
                    {{c.content | shortenString:100}} <a routerLink="/book/details/{{c.book._id}}">{{c.book.title}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div [hidden]="user.commentsCount > 0">
              No comments yet
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 order-lg-1 text-center">
    <img src="{{user.avatar}}" id="avatar" class="mx-auto img-fluid img-circle d-block" alt="avatar">
    <ng-template [ngIf]="currentUserId === user.id || isAdmin">
      <h6 class="mt-2">Change avatar (URL to a new image)</h6>
      <label class="custom-file">
        <form #formDir="ngForm" [formGroup]="avatarForm" (ngSubmit)="onSubmit()">
          <input class="form-control" id="avatar-input" type="url" name="avatar" formControlName="avatar" />
          <input class="btn btn-success" type="submit" value="Submit" [disabled]="avatarForm.invalid" />
        </form>
      </label>
    </ng-template>
  </div>
</div>
<div *ngIf="user" class="favorite-books">
  <h2>Favorite Books List</h2>
  <app-book *ngFor="let book of user.favoriteBooks" [book]="book"></app-book>
  <div [hidden]="user.favoriteBooks.length > 0" class="no-favorite">
    No books to the list yet
  </div>
</div>
<div *ngIf="!user" class="no-results">
  <img src="https://i.imgur.com/KRVihMq.png" alt="no-item-found">
</div>