<button type="button" class="btn btn-primary" (click)="openFormModal(commentFormTemplate)">Add Comment</button>
<div *ngIf="comments">
  <div *ngFor="let c of comments">
    <p>{{c.content}}</p>
    <button type="button" class="btn btn-primary" (click)="openFormModal(commentFormTemplate, c._id)">Edit Comment</button>
    <button type="button" class="btn btn-danger" (click)="openRemoveModal(remove, c._id)">Delete Comment</button>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="loadMoreComments()">Load More...</button>

<ng-template #commentFormTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{action}} Comment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="commentModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #formDir="ngForm" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <textarea class="form-control" name="content" cols="30" rows="10" formControlName="content"></textarea>
        <div class="test">
          <button type="submit" class="btn btn-primary" (click)="commentModalRef.hide()" [disabled]="commentForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #remove>
  <div class="modal-body text-center">
    <p>Do you really want to delete your comment?</p>
    <button type="button" class="btn btn-default" (click)="removeComment()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="removeModalRef.hide()">No</button>
  </div>
</ng-template>